*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 10px; /* Often browsers have a 5px margin by deafult*/
	font-family: font-family: 'Libre Baskerville', serif;
}

h1{
	font-size: 40px;
	font-family: font-family: 'Libre Baskerville', serif;
	
}

h2{
	font-size: 25px;
	font-family: font-family: 'Libre Baskerville', serif;
	
}



section{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 20px;

}

header{
	background-color: rgb(147, 117, 102);
	color: white; /* more readable on an orange background */
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: -850px;
	margin-right: -850px;
	font-family: 'Libre Baskerville', serif;

}


nav{
	width: 98%;
	height: 60px;
	background-color: rgb(254, 245, 239);
	position: fixed;
	top: 0;
}


nav a, nav h3{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 26px;
	float: left;
	margin: 0px;
	line-height: 30px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;

}

nav a:hover{
	background-color: #e8dad1; /* Hover styles to let people know they can click it */
}

.img2{
	margin-left: 250px;
	margin-top: -325px;
	margin-bottom: 0px;
	width: 100%;
}

.img3{
	margin-left: 500px;
	margin-top: -325px;
	margin-bottom: 0px;
	width: 100%;
}

.img4{
	margin-top: 15px;
	width: 100%;
}

.img5{
	margin-top: -325px;
	margin-left: 250px;
	width: 100%; 
}

.img6{
	margin-top: -325px;  
	margin-left: 253px;
	width: 100%;
}
.para{
	margin-top: 35px;
	margin-bottom: 35px;
}

.title{
	margin-top: 150px;
	margin-bottom: 100px;
}

.name{
	font-size: 12px;
}

.test{
	margin-left: 80px;
}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}